<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOGS" value="./logs"/>
    <property name="Pattern"
              value=" %green(%d{ISO8601}) %highlight(%-5level) [%highlight(ip : %X{ip})] [%highlight(mvc : %X{mvc})] [%yellow(%C{1.})] [%blue(%M:%L)]: %msg%n%throwable%n"/>


    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                ${Pattern}
            </Pattern>
        </layout>
    </appender>

    <!-- 第一个文件输出,每天产生一个文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 输出文件路径+文件名 -->
            <fileNamePattern>${LOGS}/library.%d{yyyyMMdd}.log</fileNamePattern>
            <!-- 保存30天的日志 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <!-- 输出日志记录格式 -->
            <pattern>${Pattern}</pattern>
        </encoder>
    </appender>

    <!-- INFO 级别 -->
    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- L"com.demo*" 设置为 TRACE 级别 -->
    <logger name="com.demo" level="debug" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="FILE"/>
    </logger>

</configuration>